In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 17.3 MB/s eta 0:00:00
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------- 904.1/904.1 kB 14.2 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user="root",
password="",
)

print(mydb);
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FD4B0A16A0>

In [5]:
mycursor.execute("show databases")

for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [10]:
db_name = input()
statement = "CREATE DATABASE " + db_name
mycursor.execute(statement)

shankar

In [12]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('shankar',)
('test',)

In [14]:
db_name = input()
mycursor.execute(f"CREATE DATABASE {db_name}")

uma

In [15]:
db_name = input()
mycursor.execute("CREATE DATABASE {}".format(db_name))

raman

In [16]:
mycursor.execute("USE RAMAN")

In [18]:
mycursor.execute("DROP DATABASE RAMAN")