In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\siva\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\siva\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\siva\anaconda3\lib\site-packages (1.0.2)

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user="root",
password="",
)

print(mydb);
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BE675CEA90>

In [6]:
mycursor.execute("USE SHANKAR")

In [7]:
mycursor.execute("CREATE TABLE LUCKY(salary INT(6),weight DECIMAL(3,3), insurance BOOLEAN)")

In [8]:
salary = int(input())
weight = float(input())
insurance = int(bool(input()))
mycursor.execute(f"INSERT INTO LUCKY VALUES({salary}, {weight}, {insurance})")

123
0.6987
1

In [10]:
mycursor.execute("SELECT * FROM LUCKY")
for q in mycursor:
    print(q)

(123, Decimal('0.699'), 1)

In [11]:
## Alter Table

mycursor.execute("ALTER TABLE LUCKY ADD COVID VARCHAR(10) FIRST")

In [25]:
mycursor.execute("DESCRIBE LUCKY")
for x in mycursor:
    print(x)

('COVIDNEW', 'int(11)', 'YES', '', None, '')
('salary', 'int(6)', 'YES', '', None, '')
('weight', 'decimal(3,3)', 'YES', '', None, '')
('insurance', 'tinyint(1)', 'YES', '', None, '')

In [16]:
mycursor.execute("ALTER TABLE LUCKY ADD COVID_STATUS VARCHAR(10) AFTER COVID")

In [21]:
mycursor.execute("ALTER TABLE LUCKY DROP COLUMN COVID_STATUS")
mydb.commit()

In [22]:
mycursor.execute("ALTER TABLE LUCKY MODIFY COVID INT")

In [24]:
mycursor.execute("ALTER TABLE LUCKY CHANGE COLUMN COVID COVIDNEW INT")

In [26]:
mycursor.execute("show tables from SHANKAR")

for table in mycursor:
    print(table)

('lucky',)