##### NOT NULL
##### UNIQUE
##### PRIMARY KEY 
#### Foreign Key

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user="root",
password="",
)

print(mydb);
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000214F49D3370>

In [2]:
mycursor.execute("CREATE DATABASE e6s")

In [16]:
mycursor.execute("USE e6s")

In [21]:
mycursor.execute("CREATE TABLE TB2 (name VARCHAR(10),gMame VARCHAR(10),Age INT(6) CHECK(Age>18)) ")

In [22]:
mycursor.execute("CREATE TABLE aadhardetails (name VARCHAR(30),ADDRESS VARCHAR(20),AADHARID VARCHAR(16) PRIMARY KEY)")

In [23]:
mycursor.execute("INSERT INTO aadhardetails VALUES('shankar', '123434','238523708943' )")

In [24]:
mycursor.execute("CREATE TABLE bankacc(name VARCHAR(20),type VARCHAR(2),accno INT PRIMARY KEY,aadhar VARCHAR(16) ,FOREIGN KEY (aadhar)REFERENCES aadhardetails(aadharid))")

In [28]:
mycursor.execute("INSERT INTO bankacc VALUES('bank1', 'savings', 123, '238523708943')")

In [30]:
mycursor.execute("CREATE TABLE pancard(name VARCHAR(20),dob INT,panid VARCHAR(16),aadhar varchar(16) ,FOREIGN KEY(aadhar) REFERENCES aadhardetails(aadharid),PRIMARY KEY(panid,aadhar))")

In [34]:
mycursor.execute("INSERT INTO pancard VALUES('uma', 123, '1234567891012345', '238523708943')")

In [31]:
mycursor.execute("DROP TABLE bankacc")

In [32]:
mycursor.execute("CREATE TABLE bankacc(name VARCHAR(20),type VARCHAR(2),panid VARCHAR(16),accno INT PRIMARY KEY,aadhar VARCHAR(16) ,FOREIGN KEY (aadhar)REFERENCES aadhardetails(aadharid), FOREIGN KEY (panid)REFERENCES pancard(panid))")

In [35]:
mycursor.execute("INSERT INTO bankacc VALUES('uma', 'savings', '1234567891012345', 123,'238523708943' )")